* {
    box-sizing: border-box;
}

.addDish-container {
    margin-top: 2vw;
    display: flex;
}

.addDish-Title {
    font-size: 4vw;
    color: white;
    text-shadow: -1px -1px 3px #24b134, 1px -1px 3px #24b134, -1px 1px 3px #24b134, 1px 1px 3px #24b134;
    margin-left: 10vw;
}

.form-addDish form {
    position: absolute;
    left: 35%;
    margin-top: -22vw;
    display: flex;
    width: 50%;
    max-width: 40vw;
    flex-direction: column;
}

#dishDescription {
    height: 10vw;
}

label {
    margin-top: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
}

input {
    height: 2.5vw;
    padding: 0.5vw;
    margin-bottom: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.4vw;
    font-size: 1vw;
}

.add-more {
    margin-top: 0.3vw;
    background-color: #45a049;
    border: 1px solid #066e0b;
    cursor: pointer;
    font-size: 1vw;
    width: 13vw;
    padding: 1vw;
    margin-left: 35%;
    border-radius: 0.5vw;
    color: white;
    text-decoration: underline;
}

.remove-ingred,
.remove-step {
    margin-top: 0.3vw;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
}

.remove-ingred svg,
.remove-step svg {
    color: red;
}

.remove-ingred svg :hover,
.remove-step svg :hover {
    color: rgb(236, 100, 100);
}

.add-more:hover {
    background-color: white;
    color: black;
}

.submit-button {
    margin-top: 2vw;
    padding: 0.8vw;
    background-color: #4CAF50;
    border: 1px solid #066e0b;
    color: white;
    width: 10vw;
    border-radius: 0.2vw;
    cursor: pointer;
    font-size: 1vw;
    text-decoration: underline;
}

.submit-button:hover {
    background-color: white;
    color: black;
}

.cancel-dish {
    position: absolute;
    margin-top: -2.9vw;
    margin-left: 11vw;
    padding: 0.8vw;
    background-color: #d83737;
    border: 1px solid #d83737;
    color: white;
    width: 10vw;
    border-radius: 0.2vw;
    cursor: pointer;
    font-size: 1vw;
    text-decoration: underline;
}

.cancel-dish:hover {
    background-color: white;
    color: black;
}

.dish-image{
    margin-top: 5vw;
    width: 20vw; /* Adjust the size as needed */
    height: 20vw; /* Adjust the size as needed */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-left: -17vw;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
}

.bttn-imagedish-select svg{
    position: absolute;
    margin-top: -3vw;
    margin-left: -6vw;
    border: none;
    border-radius: 100%;
    background: white;
    font-size: 3vw;
    color: #13d82a;
  }
  
  .bttn-imagedish-select svg:hover{
    color: #048012;
  }