* {
    box-sizing: border-box;
}

.addstaff-container {
    margin-top: 1vw;
}

.scrollable-addstaff {
    display: flex;
    flex-direction: column;
    width: 94%;
    top: 1vw;
    background-color: none;
}

.addstaff-info {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 35vw;
    width: 85vw;
    margin-left: 5vw;
    align-self: center;
    background-color: rgb(214, 211, 211);
    font-size: 2vw;
    padding-left: 3vw;
    margin-bottom: 2vw;
}

.form1,
.form2 {
    flex-basis: 10%;
    padding: 1vw;
}

.addstaff-info label,
.addstaff-info input,
.addstaff-info select {
    margin-bottom: 0.5vw;
}

.addstaff-info label {
    flex-basis: 20%;
    font-size: 1vw;
    margin-top: 0.8vw;
}


.addstaff-info select {

    font-size: 0.8vw;
    width: 15vw;
    height: 2vw;
    margin-left: 1vw;
    text-align: center;
    border-radius: 0.5vw;
    border-color: #0da81f;
}


.thead {
    border: 2px solid black;
    width: 85vw;
    align-self: center;
    margin-left: 5vw;
    background-color: #13d82a;
    font-size: 2vw;
    padding: 1.5vw;
    color: white;
    text-shadow: -1px -1px 3px #24b134, 1px -1px 3px #24b134, -1px 1px 3px #24b134, 1px 1px 3px #24b134;
    padding-left: 3vw;
    border-bottom: white;
}

.tbody {
    border: 2px solid black;
    border-top: 5px solid white;
    width: 90vw;
    height: 35vw;
    margin-left: 3.5vw;
    background-color: #D9D9D9;
}

.bttn-confirm {
    color: #13d82a;
    position: absolute;
    background-color: #ffffff;
    font-weight: 600;
    border: 2px solid #13d82a;
    font-size: 1vw;
    padding: 0.8vw;
    border-radius: 1vw;
    cursor: pointer;
    display: absolute;
    margin-top: 35vw;
    margin-left: 55vw;
    text-decoration: underline;
    width: 14vw;
    text-align: center;
}

.bttn-confirm:hover{
    color: white;
    background-color: #13d82a;
    border: 2px solid white;
}

.bttn-cancel {
    color: #d83113;
    position: absolute;
    background-color: #ffffff;
    font-weight: 600;
    border: 2px solid #d83113;
    font-size: 1vw;
    padding: 0.8vw;
    border-radius: 1vw;
    cursor: pointer;
    display: absolute;
    margin-top: -7.5vw;
    text-decoration: underline;
    margin-left: 70vw;
    width: 14vw;
    text-align: center;
}

.bttn-cancel:hover{
    color: white;
    background-color: #d83113;
    border: 2px solid white;
}

.error{
    color:red;
    font-size: 1vw;
    padding: 0.5vw;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5vw;
}

.input-container label {
    flex-basis: 15%; /* Adjust as needed */
    font-size: 1vw;
    margin-top: 0.8vw;
}

.input-container input {
    flex-basis: 70%; /* Adjust as needed */
    height: 3vw;
    width: 30vw;
    border-radius: 1.5vw;
    padding: 1vw;
    border-color: #0da81f;
}