* {
    box-sizing: border-box;
}

.container {
    margin: 0;
}


.icon-button {
    display: absolute;
    padding: 1.5vw 1vw;
    width: 10%;
    border-radius: 2vw;
    height: 8em;
    background-color: #24b134;
    color: #fff;
    border: 2px solid #ffffff;
    cursor: pointer;
    font-size: 110%;
    transition: background-color 0.3s;
    margin-left: 8vw;
    font-weight: 600;
    box-shadow: -1em 1rem 1rem rgba(0, 0, 0, 0.4);
}


.icon-button2,
.icon-button3,
.icon-button4,
.icon-button5 {
    display: absolute;
    padding: 1.5vw 1vw;
    width: 10vw;
    border-radius: 2vw;
    height: 8em;
    background-color: #24b134;
    color: #fff;
    border: 2px solid #ffffff;
    cursor: pointer;
    font-size: 110%;
    transition: background-color 0.3s;
    margin-left: 1vw;
    font-weight: 600;
    /* Remove 'px' after the value */
    box-shadow: -1em 1rem 1rem rgba(0, 0, 0, 0.4);
    /* Added box-shadow */
}

.icon-button svg,
.icon-button2 svg,
.icon-button3 svg,
.icon-button4 svg,
.icon-button5 svg {
    margin-right: 5px;
    font-size: 3vw;
}

.icon-button3 svg {
    margin-top: -1vw;
}

.icon-button:hover,
.icon-button2:hover,
.icon-button3:hover,
.icon-button4:hover,
.icon-button5:hover {
    background-color: white;
    color: #13d82a;
    border: 2px solid #13d82a;
}

.notify-container {
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: absolute;
    width: 23%;
    height: 80%;
    top: 18%;
    left: 76%;
    border-radius: 0.5vw;
    background-color: #ccc;
    border: 2px solid #13d82a;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.scrollable-container {
    margin-top: 2%;
    margin-left: 7%;
    height: 32vw;
    width: 68%;
    /* Set a maximum height to enable scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling */
    border: 2px solid #13d82a;
    border-radius: 0.3vw;
    padding: 0.5%;
}

.scrollable-container h1 {
    font-size: 3vw;
    color: white;
    text-shadow: -1px -1px 3px #24b134, 1px -1px 3px #24b134, -1px 1px 3px #24b134, 1px 1px 3px #24b134;
}

.menu-cont,
.staff-cont,
.market-cont,
.invent-cont {
    display: flex;
    /* Use flexbox to arrange items horizontally */
    border: 2px solid #13d82a;
    height: 40%;
    width: auto;
    border-radius: 1vw;
    background-color: rgb(236, 236, 236);
    padding: 1%;
    font-size: 1vw;
}

.market-cont h5 {
    margin-top: -2vw;
    position: flex;
    margin-left: 7vw;
}

.invent-cont h5 {
    margin-top: -1vw;
    position: flex;
    margin-left: 7vw;
}

.menu-cont h4,
.market-cont h4 {
    color: #26933F;
    margin-left: 1vw;
}

.staff-cont h3 {
    text-align: center;
    margin-top: 1vw;
}

.item {
    width: 12.4vw;
    margin-right: 10px;
    border: 2px solid #13d82a;
    background-color: white;
    border-radius: 0.5vw;
}

.notify h1 {
    position: absolute;
    left: 77%; /* Adjust the left position */
    top: 13%; /* Adjust the top position */
    color: white;
    text-shadow: -1px -1px 3px #00830f, 1px -1px 3px #24b134, -1px 1px 3px #24b134, 1px 1px 3px #24b134;
}

.notify1 {
    align-items: center;
    display:flex;
    width: auto;
    border: 2px solid #13d82a;
    background-color: white;
    border-radius: 0.5vw;
    height: 8vw;
    margin: 5%;
}

.item .sample {
    width: 100%;
    /* Set the width to 100% */
    height: 75%;
    /* Automatically adjust the height to maintain aspect ratio */
    border-radius: 0.5vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.notify1 img{
    margin-left: 4%;
    width: 30%;
    height: 70%;
    border-radius: 10vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.notify1 h3{
    margin-left: 4%;
}

.click {
    position: flex;
    margin-left: 92%;
    border: none;
    font-size: 1vw;
    background-color: white;
    text-decoration: underline;
}

.click:hover {
    color: #13d82a;
}