* {
    box-sizing: border-box;
}

body{
    margin: 0;
    
}

.nav .site-title{
    padding-top: 0.5vw;
    padding-left: 5vw;
    font-size: 2vw;
    margin: 0.3vw;
    font-weight: 900;
}

.nav{
    background-color: #03c04a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    height: 4vw;
}