* {
    box-sizing: border-box;
}

.register-container {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header {
    position: absolute;
    top: 12%;
    left: 10%;
    transform: translateX(-50%);
    font-size: 3vw;
    padding: 1vw;
    color: #57B961;
    font-weight: 900;
}

.app1 {
    display: flex;
    color: #9bb39d;
    font-style: bold;
    font-size: 1px;
    position: absolute;
    top: 25%;
    left: 20vw;
}

.app1 input {
    background-color: #dfe4e0;
    color: #57B961;
    border-radius: 1.2vw;
    height: 1.5vw;
    width: 30vw;
    font-size: 1vw;
    padding: 1.5vw;
    border: 1px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.app2 {
    display: flex;
    color: #9bb39d;
    font-style: bold;
    font-size: 1px;
    position: absolute;
    top: 25%;
    left: 55vw;

}

.app2 input {
    background-color: #dfe4e0;
    color: #57B961;
    border-radius: 1.2vw;
    height: 1.5vw;
    width: 30vw;
    font-size: 1vw;
    padding: 1.5vw;
    border: 1px solid black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.err {
    font-size: 1vw;
    color: red;
}

.Back {
    position: absolute;
    background-color: #ED5E5E;
    border-color: black;
    font-size: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    text-decoration: underline;
    width: 12vw;
    height: 3.5vw;
    box-shadow: -0.5em 1rem 1rem rgba(0, 0, 0, 0.4);
    margin-left: 18vw;
    font-weight: 900;
}

.Back:hover{
    background-color: white;
    color: #ED5E5E;
    border: 2px solid;
    border-color: #ED5E5E;
}


.register-container .Register {
    margin-left: 2%;
    position: absolute;
    background-color: #57B961;
    border-color: black;
    font-size: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    position: absolute;
    text-decoration: underline;
    width: 12vw;
    height: 3.5vw;
    box-shadow: -0.5em 1rem 1rem rgba(0, 0, 0, 0.4);
    font-weight: 900;
}

.Register:hover{
    background-color: white;
    color: #57B961;
    border: 2px solid;
    border-color: #57B961;
}

.form-group {
    position: absolute;
    top: 30vw;
    left: 42vw;
}


.file-upload-button {
    color: white;
    padding: 0.6vw 1vw;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #6bf04a;
    border-radius: 20px;
    background: #056805;
}

.file-upload-button2 {
    color: white;
    padding: 1vw;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #6bf04a;
    border-radius: 0.8vw;
    background: #056805;
    height: 3vw;
    text-align: center;
    margin-left: 4vw;
}
